# Build Artifacts
.gradle/
build/
target/
bin/

#Eclipse Project Files
.classpath
.project
.settings/

# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

